<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    <h1 class="heading">hello world!</h1>
    <script>
        const heading = document.querySelectorAll(".heading");
        let color = 0;
        setInterval(() => {
            color += 1;
            const hue = color % 360;
            heading.forEach((element) => {
                element.style.color = `hsl(${hue}, 100%, 35%)`;
            });
        }, 16);
    </script>
</body>

</html>